.start[data-state='hidden'],
.question[data-state='hidden'] {
    display: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

a:hover {
    background-color: rgb(186, 127, 240);
    color: white;
}

.time {
    text-align: right;
    font-size: 20px;
    padding: 10px;
}

.quiz h1 {
    text-align: center;
    color: blueviolet;
    font-size: 48px;
    font-family: Fira Sans;
}

.quiz p {
    display: block;
    /* padding: 30px 30px 60px 30px; */
    border-radius: 10px;
    margin: 10px 150px 20px 150px;
    text-align: center;
    font-size: 24px;
}

.quiz {
    text-align: center;
}

#startBtn {
    margin-top: 30px;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    background-color: transparent;
    border: 2px solid rgb(176, 71, 233);
    filter: drop-shadow(-3px 4px 4px lightgray);
}

.option1,
.option2,
.option3 {
    border: solid 2px rgb(195, 0, 255);
    border-radius: 5px;
    margin: 20px;
    font-size: 20px;
    padding: 10px;
    width: 20%;
    filter: drop-shadow(-3px 4px 4px lightgray);
    cursor: pointer;
}

#startBtn:hover,
#startBtn:focus {
    box-shadow: inset 7em 0 0 0 rgb(176, 71, 233);
    transition: 0.5s;
}

#back {
    border: solid 2px rgb(195, 0, 255);
    border-radius: 5px;
    margin: 20px;
    font-size: 20px;
    padding: 10px;
    width: 20%;
    filter: drop-shadow(-3px 4px 4px lightgray);
    cursor: pointer;
}

#clear {
    border: solid 2px rgb(195, 0, 255);
    border-radius: 5px;
    margin: 20px;
    font-size: 20px;
    padding: 10px;
    width: 20%;
    filter: drop-shadow(-3px 4px 4px lightgray);
    cursor: pointer;
}

#clear:hover,
#clear:focus {
    background-color: rgb(186, 127, 240);
    color: white;
}